.hb-header{
    position: relative;
    background-color: red;
    margin: 9px 9px 9px 9px;

    .header-wrapper{

        margin: 0 auto;
        max-width: 1024px;
        background-color: blue;
    }
}